@media (max-width:1000px) {
  .fix_cir, .sns{
    scale: .8;
  }
  .gnb{display: none;}
  .hbg{display: block;}
  .cursor{
    display: none;
  }
  .gnb ul li{
    font-size: 18px;
  }
  .txt_rolling p{
    font-size: 130px;
  }
  .sec01_con{
    flex-direction: column;
    padding: 0 5%;
    justify-content: center;
  }
  .sec01_info{
    width: 80%;
    height: 100%;
    align-self: flex-start;
    margin: 30% 0 5% 0;
  }
  .info_wrap{
    width: 100%;
  }
  .info_wrap h2{
    font-size: 35px;
  }
  .info_wrap b{
    font-size: 18px;
    margin: 30px 0;
  }
  .sec01_img{
    width: 80%;
    align-self: flex-end;
    margin: 0;
  }
  .sec01_bg_bar:not(:last-child){
    margin-bottom: 7%;
  }

  .title h2{
    font-size: 35px;
    margin-top: 30px;
  }
  .con_img{
    height: 80%;
  }
  .sec02_con{
    flex-wrap: wrap;
  }
  .con_item{
    width: 33%;
    height: 30%;
  }
  .con_item h3{
    font-size: 20px;
  }
  .con_txt b{
    font-size: 18px;
    margin-top: 20px !important;
  }
  
  .scr_txt p{
    width: 80%;
    font-size: 3rem;
  }
  .artist{
    flex-direction: column;
    padding: 0;
  }
  .art_img{
    width: 50%;
  }
  .art_sel{
    flex-wrap: nowrap;
  }
  .art_sel>div{
    margin-top: 10% !important;
  }

  .sec05{
    padding: 0 5% 70px 5%;
  }
  .sec05_con{
    flex-direction: column;
  }
  .sec05_map{
    width: 100%;
    
  }
  .sec05_map iframe{
    height: 300px;
  }
  .sec05 form{
    margin: 0;
    margin-top: 30px;
  }
}

@media (max-width:680px) {
  section{
    padding-bottom: 80px;
  }
  *{font-size: 10px;}

  .intro_video{
    background-color: #000;
  }
  video{
    height: 80%;
    transform: translateY(10%);
  }
  .intro_cir{
    margin: 0;
  }
  .fix_cir, .sns{
    scale: .3;
    margin: 70px 0 0 70px;
  }
  .sns a{
    scale: 2;
    left: 65%;
  }
  .txt_rolling p{
    font-size: 80px;
  }
  .sec01_info{
    width: 100%;
    height: 40%;
  }
  .sec01_con{
    margin-right: 10px;
  }
  .info_wrap b{
    margin: 5% 0;
  }
  .info_wrap b:last-child{
    margin-bottom: 0;
  }
  .info_wrap h2,.title h2{
    font-size: 28px;
  }
  .info_wrap b{
    font-size: 14px;
  }
  .item_wrap{
    flex-direction: column;
  }
  .con_txt{
    margin: 0;
  }
  .con_txt ul{
    display: flex;
    flex-wrap: wrap;
  }
  .con_txt ul li{
    width: 45%;
    margin: 0 5px;
  }
  .con_item{
    width: 50%;
  }
  .con_item h3{
    font-size: 14px;
  }
  .con_txt b{
    font-size: 12px;
    margin-bottom: 12px;
  }
  .con_item.on .con_img{
    width: 100%;
  }
  .plan li{
    width: 100% !important;
  }

  /* 아티스트 */
  .sec03 h2{
    font-size: 29vw;
  }
  .scr_vedio{
    text-align: center;
  }
  .scr_txt p{
    font-size: 2rem;
  }
  .artist{
    margin-top: 20px;
    padding: 0 2%;
  }
  .swiper-button-next, .swiper-button-prev{
    display: none !important;
  }
}